/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
        overflow-x: hidden;
}


.header {
    position: fixed;
}

/* Animación de fade-in y zoom */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*<!-- sección 1 - encabezado pagina web-->
 <!-- sección 1.2 contenedor de particulas-->*/
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Asegura que las partículas no interfieran con el contenido */
    z-index: 1; /* Asegura que las partículas estén por delante de la imagen */
    background: transparent; /* Asegura que el fondo sea transparente */
}

/*<!-- sección 1.3 Contenedor principal con parallax -->*/
.pagina.parallax {
    position: relative;
    background-image: url('socialimg/1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajustar según la altura deseada */
}

/* Estilo para la imagen responsive */
.responsive-img {
    display: none; /* Oculta la imagen por defecto */
}
/* 1.4.ESTILO PESTAÑAS */
/*<!-- 1.Icono de menú de hamburguesas -->*/
.floating-icon {
    display: block;
    position: fixed;
    top: 30px;
    right: 50px;
    color: #fffb00;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
  }
  /* <!-- 1.2 Fondo con opacidad --> */
  .modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2b1029;
    z-index: 70; /* Coloca el fondo por encima de todo */
  }
  /*<!-- 1.3 Menú de pestañas de servicios --> */
  .tabs {
    display: none;
    position: fixed;
    top: 95px;
    right: 100px;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    font-size: 2em;
  }
  
  .tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: left;
  }
  
  .tabs li {
    display: block;
    margin-bottom: 15px; /* controla la distancia de los textos */
  }
  
  .tabs a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    position: relative; /* Para que el pseudo-elemento ::after sea relativo a este elemento */
  }
  
  /* Estilo para las líneas suaves */
  .tabs a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #cabd01; /* Color de linea decorativa */
    transform: scaleX(0);
    transition: transform 0.2s ease; /* Efecto de transición suave */
  }
  
  /*Efecto al pasar el cursor */
  .tabs a:hover::after {
    transform: scaleX(1);
  }
  
  .tab-active {
    color: #01c4ca;
  }
  
  /* Mostrar el fondo y el menú de servicios al hacer clic */
  .modal-open .modal-background,
  .modal-open .tabs {
    display: block;
  }

/* 2. Estilos específicos para el efecto parallax */
.parallax-container {
    background: #fff;/* Color de fondo oscuro */
    padding: 40px 0;
}

.parallax-layer {
    height: 100vh;
    background: url('socialimg/2.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.parallax {
    height: 80vh; /* Ajustar la altura según sea necesario */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInZoom 2s ease-in-out;
}
/*<!-- sección 1.4 Overlay -->*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none; /* Color del overlay */
    color: rgb(255, 255, 255); /* Color del texto */
    text-align: center;
}

/*<!-- sección 1.5 Título encabezado -->*/
.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #ffffff; /* Color amarillo */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.title .highlight {
    color: #f5d104;
}


/* <!-- 2. Contenido de Social Media --> */
.text-socialmedia h4 {
    position: relative;
    padding: 0 20px;
    color:#f5d104;
    font-size: 1.8rem;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}

.text-socialmedia {
    color:#272727;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.animated-title {
    animation: fadeInUp 1s ease-in-out;

}

.animated-text {
    animation: fadeInUp 1.5s ease-in-out;
    margin-bottom: 20px;

}

.animated-item {
    animation: fadeInUp 2s ease-in-out;
    margin-bottom: 20px;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animated-item i {
    margin-right: 10px;
    color: #f5d104;
}
.no-bullets {
    list-style-type: none;
    padding: 0;
}

.no-bullets li {
    padding-left: 0;
    margin-bottom: 20px;
}

.parallax-container {
    position: relative;
    overflow: hidden;
}

.socialmedia-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.text-socialmedia {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* O un color de fondo que prefieras */
    border-radius: 10px;
}

.socialmedia-image {
    width: 250px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

.socialmedia-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.left-image {
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.right-image {
    margin-left: 20px; /* Espacio entre la imagen y el contenido */
}

/* <!-- 2.1. Sección de Redes Sociales Gestionadas --> */
.social-media-managed {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.904), rgb(255, 255, 255));
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #272727;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social-media-managed h5 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #f5d104; /* Color amarillo */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Espacio entre los íconos */
    flex-wrap: wrap; /* Asegura que los íconos se ajusten en múltiples filas si es necesario */
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.social-icon i {
    font-size: 2.5em; /* Tamaño de los íconos */
    color: #272727; /* Color de los íconos */
    margin-bottom: 10px;
}

.social-icon p {
    font-size: 1em;
    margin: 0;
    color: #272727;
}

/* Efecto de zoom al pasar el cursor sobre los íconos */
.social-icon:hover i {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.social-icon a {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto */
}

.social-icon a:hover i {
    color: #f5d104; /* Color amarillo en hover */
}


/*<!-- 2.3. Sección de por qué elegirnos --> */
.nosotros {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.nosotros h5 {
    color: #f5d104;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nosotros-list {
    list-style-type: none;
    padding: 0;
}

.nosotros-item {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nosotros-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.nosotros-item i {
    font-size: 2em;
    color: #f5d104;
    margin-right: 15px;
}

.nosotros-item div {
    text-align: left;
}

.nosotros-item strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.nosotros-item p {
    margin: 0;
    color: #2c2c2c;
}

/* <!-- 2.4. Sección de Estadísticas --> */
.stats-container {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.904), rgb(255, 255, 255));
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color:#272727;
}

.stats-container h5 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre los items */
}

.stat-item {
    background: rgba(230, 230, 230, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.stat-icon {
    font-size: 2em;
    color: #f8d303;
    margin-bottom: 10px;
}

.stat-info .counter-number {
    font-size: 2em;
    color: #00ff0d;
    margin-bottom: 10px;
}

.stat-info p {
    color: #272727;
}

.stat-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.counter {
    font-size: 2em;
    color: #8f8f8f;
}

.stat-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    box-shadow: 0 0 15px #686868; /* Efecto de sombra de neón verde */
}
.stat-item:hover {
    background-color: rgb(207, 207, 207);
    transform: scale(1.1);
    filter: brightness(1.5); /* Aumentar el brillo en hover */
}
/* fuente */
.stats-source {
    margin-top: 20px;
    font-size: 0.9em;
    color: #272727;
}

.stats-source a {
    color: #0428f5; /* Color amarillo similar al de los contadores */
    text-decoration: none;
    font-weight: bold;
}

.stats-source a:hover {
    text-decoration: underline;
}
/*  <!-- Sección 3. contenido - Servicios -->*/
.texto-servicio {
    background-color: #ffffff;
    padding: 40px 10px;
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .texto-servicio h7 {
    font-size: 2rem;
    color: #1f1f1f;
    margin-bottom: 15px;
  }
  
  .texto-servicio p {
    font-size: 1rem;
    color: #757575;
    max-width: 800px;
    margin: 10px auto;
  }
  
  /*  <!-- Sección 3.1 Iconos de Servicios --> */
  .icon-stats {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 50px 0; /* Elimina el padding lateral */
    margin: 0; /* Elimina los márgenes */
    width: 100%; /* Asegura que ocupe el 100% del ancho */
    box-sizing: border-box; /* Considera el padding dentro del ancho total */
    gap: 15%;
    white-space: nowrap;
    z-index: 1;
  }
  
  
  .icon-stats .icon {
    text-align: center;
    color: #747474;
  }
  
  .icon-stats .icon a {
    text-decoration: none;
    color: inherit;
  }
  
  .icon-stats .icon i {
    font-size: 48px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-stats .icon p {
    font-size: 18px;
  }
  
  .icon-stats .icon:hover i {
    transform: scale(1.2);
  }
  
  /* Configuración de íconos específicos */
  .icon-stats .fa-search {
    color: #747474;
  }
  
  .icon-stats .fa-ad {
    color: #747474;
  }
  
  .icon-stats .fa-users {
    color: #747474;
  }
  
  .icon-stats .fa-paint-brush {
    color: #747474;
  }
  
  .icon-stats .fa-code {
    color: #747474;
  }
  
  /* Animación de entrada de los iconos */
  @keyframes fadeInIcon {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 768px) {
    .icon-stats {
      flex-direction: column; /* Una columna en dispositivos pequeños */
      gap: 20px;
    }
  
    .icon-stats .icon {
      width: 100%;
      max-width: 300px;
    }
  }
  
  /* <!-- Sección 3.2 contacto --> */
  .contacto {
    background-color: #121616;
    color: rgb(172, 172, 172);
    padding: 40px 0;
  }
  
  .contacto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .columna {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .columna h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .columna p {
    margin: 5px 0;
  }
  
  .redes-sociales a {
    color: #0ff8f8;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  .redes-sociales a:hover {
    color: #f5d104;
  }
  
  /* Estilos responsivos */
  @media (max-width: 992px) {
    .contacto-container {
      flex-direction: column;
      align-items: center;
    }
  
    .columna {
      margin: 15px 0;
      text-align: center;
    }
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
    .contacto-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .columna {
      flex: 1 1 45%; /* Dos columnas por fila */
      text-align: left;
    }
  
    .redes-sociales {
      flex: 1 1 100%; /* Una columna completa para las redes sociales */
      text-align: center;
      margin-top: 20px;
    }
  }
  
  @media (min-width: 1201px) {
    .contacto-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .columna {
      flex: 1 1 22%; /* Cuatro columnas en una fila */
    }
  
    .redes-sociales {
      text-align: left;
    }
  }


/*   <!-- 4. Sección de AR --> */
#ar-container {
    background: #333;
    color: #fff;
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#ar-container a {
    color: #f5d104;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#ar-container a:hover {
    text-decoration: underline;
}